@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/reset";
@import "utils/icons";

@import "modules/enter-screen";
@import "modules/main";
@import "modules/results";
@import "modules/statistic";



html {
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100%;
  @media screen and (max-width: $desktopWidth) {
    font-size: 16px;
  }
  @media screen and (max-width: $tableWidth) {
    font-size: 15px;
  }
  @media screen and (max-width: $phoneWidth) {
    font-size: 14px;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

//section,
//.section {
//  position: relative;
//  padding: 40px 0;
//  @media screen and (max-width: $smDesktopWidth) {
//    padding: 36px 0;
//  }
//  @media screen and (max-width: $tableWidth) {
//    padding: 28px 0;
//  }
//  @media screen and (max-width: $phoneWidth) {
//    padding: 20px 0;
//  }
//}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
  min-width: 100vh;
}

.container {
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  margin: 0 auto;
  max-width: 1440px;

//  @media screen and (max-width: 1024px) {
//  }
//  @media screen and (max-width: 768px) {
//  }
//  @media screen and (max-width: 500px) {
//  }
//
//  @media screen and (max-width: 374px) {
//  }
}

.hide {
  display: none;
}

.hide_opacity {
  opacity: 0;
}

.main-wrapper {
  margin: 0;
  max-width: 1440px;
}
